<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>https://g-search3.alicdn.com/img/bao/uploaded/i4/i3/880734502/O1CN01TmtOp31j7xdDcxtrV_!!0-item_pic.jpg</string>
		<key>gridTitle</key>
		<string>核桃</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>https://g-search3.alicdn.com/img/bao/uploaded/i4/i3/2258229509/O1CN018fYkPz2K7AjNA1Tkm_!!0-item_pic.jpg</string>
		<key>gridTitle</key>
		<string>瓜子</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i2/2963445906/O1CN01nsaKaR1tUzgviy66g_!!2963445906.jpg</string>
		<key>gridTitle</key>
		<string>开心果</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>https://g-search3.alicdn.com/img/bao/uploaded/i4/i3/877104952/O1CN01BJYLgM1mS3rOVhB2R_!!0-item_pic.jpg</string>
		<key>gridTitle</key>
		<string>巧克力</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>https://g-search3.alicdn.com/img/bao/uploaded/i4/i4/894224787/O1CN01SDQdI71lEURSTLMRp_!!0-item_pic.jpg</string>
		<key>gridTitle</key>
		<string>奶酪零食</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>https://g-search2.alicdn.com/img/bao/uploaded/i4/i4/1771578835/O1CN01nfRJAN2F8TmjtE6hd_!!0-item_pic.jpg</string>
		<key>gridTitle</key>
		<string>葡萄干</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i2/3462452692/O1CN012XZ7le1VkykNUSSEz_!!0-item_pic.jpg</string>
		<key>gridTitle</key>
		<string>薯片</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>https://g-search3.alicdn.com/img/bao/uploaded/i4/i4/2081305679/O1CN01eyTAUm1rp1nR1mKW0_!!0-item_pic.jpg</string>
		<key>gridTitle</key>
		<string>饼干</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
</array>
</plist>
